{% extends 'layout.html' %}
<meta charset="UTF-8">
{% block content %}
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}

</script>
<style>
.ourpick {
margin-left : 30%;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  text-align: center;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
 	position: relative;
 	left: 17%;
 	
}

/* Hide the images by default */

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 5%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

</style>
</head>


<body>
<!-- <h2 style="text-align:center"></h2> -->
<div><a class="prev" onclick="plusSlides(-1)"><</a></div>
<div class="container">
<div class="content">
  <div class="mySlides">
    <div class="numbertext">1 / 10</div>
    <img src="img/13.jpg" style="width:50%" >
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 10</div>
    <img src="img/13.jpg" style="width:50%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 10</div>
    <img src="img/13.jpg" style="width:50%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 10</div>
    <img src="img/13.jpg" style="width:50%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 10</div>
    <img src="img/13.jpg" style="width:50%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 10</div>
    <img src="img/13.jpg" style="width:50%">
  </div>
  <div class="mySlides">
    <div class="numbertext">7 / 10</div>
    <img src="img/13.jpg" style="width:50%">
  </div>
  <div class="mySlides">
    <div class="numbertext">8 / 10</div>
    <img src="img/13.jpg" style="width:50%">
  </div>
  <div class="mySlides">
    <div class="numbertext">9 / 10</div>
    <img src="img/13.jpg" style="width:50%">
  </div>
  <div class="mySlides">
    <div class="numbertext">10 / 10</div>
    <img src="img/13.jpg" style="width:50%">
  </div>
    


  <div class="row">
    <div class="column">
      <img class="demo cursor" src="img/13.jpg" style="width:100%" onclick="currentSlide(1)" alt="고질라 vs 콩 / 감독:스티븐 / 배우 : 불가리스 / 평점 : ">
    </div>
    <div class="column">
      <img class="demo cursor" src="img/13.jpg" style="width:100%" onclick="currentSlide(2)" alt="콩 스컬아일랜드 / 감독:스티븐 / 배우 : 불가리스 / 평점 :  ">
    </div>
    <div class="column">
      <img class="demo cursor" src="img/13.jpg" style="width:100%" onclick="currentSlide(3)" alt="고질라 / 감독:스티븐 / 배우 : 불가리스 / 평점 : ">
    </div>
    <div class="column">
      <img class="demo cursor" src="img/13.jpg" style="width:100%" onclick="currentSlide(4)" alt="혹성탈출 진화의 시작 / 감독:스티븐 / 배우 : 불가리스 / 평점 : ">
    </div>
    <div class="column">
      <img class="demo cursor" src="img/13.jpg" style="width:100%" onclick="currentSlide(5)" alt="쥬라기 월드 / 감독:스티븐 / 배우 : 불가리스 / 평점 : ">
    </div>    
    <div class="column">
      <img class="demo cursor" src="img/13.jpg" style="width:100%" onclick="currentSlide(6)"alt="고질라 킹오브몬스터 / 감독:스티븐 / 배우 : 불가리스 / 평점 : ">
    </div>
    <div class="column">
      <img class="demo cursor" src="img/13.jpg" style="width:100%" onclick="currentSlide(7)"alt="고질라 킹오브몬스터 / 감독:스티븐 / 배우 : 불가리스 / 평점 : ">
    </div>
    <div class="column">
      <img class="demo cursor" src="img/13.jpg" style="width:100%" onclick="currentSlide(8)"alt="고질라 킹오브몬스터 / 감독:스티븐 / 배우 : 불가리스 / 평점 : ">
    </div>
    <div class="column">
      <img class="demo cursor" src="img/13.jpg" style="width:100%" onclick="currentSlide(9)"alt="고질라 킹오브몬스터 / 감독:스티븐 / 배우 : 불가리스 / 평점 : ">
    </div>
    <div class="column">
      <img class="demo cursor" src="img/13.jpg" style="width:100%" onclick="currentSlide(10)"alt="고질라 킹오브몬스터 / 감독:스티븐 / 배우 : 불가리스 / 평점 : ">
    </div>
  </div>
  </div>
</div>
 <div><a class="next" onclick="plusSlides(1)">❯</a></div>

------------------------------------------
  <div class="caption-container">
    <p id="caption"></p>
  </div>
	<br><br><br><br><br><br> 
	</div>
</section>

{%endblock%}

</body>
</html>