@charset "UTF-8";

.middle {
	position: relative;
	top: 45%;
	left: 47%;
	transform: translate(-50%, -50%);
}

.card {
	margin-top: 150px;
	cursor: pointer;
	width: 270px;
	height: 300px;
}

.front, .back {
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform .4s linear;
}

.front img {
	height: 100%;
}

.front {
	transform: perspective(600px) rotateY(0deg);
}

.back {
	transform: perspective(600px) rotateY(180deg);
}

.back-content {
	color: white;
	text-align: center;
	width: auto;
}

.card:hover>.front {
	transform: perspective(600px) rotateY(-180deg);
}

.card:hover>.back {
	transform: perspective(600px) rotateY(0deg);
}