{% extends 'admin/layout_admin.html' %}
<meta charset="UTF-8">
<section>
<div class="img">
	<div><a href="main" id="nav4" >WAFLEX</a></div>
</div>
</section>
{% block content%}


<script type="text/javascript">
	$(document).ready(function(){

	});

	function fn_login(){
		location.href = "login"
	}

</script>
<style>

</style>
<head>

<script type="text/javascript">
	$(document).ready(function(){

	});

	function fn_login(){
		location.href="login"
	}


</script>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
    <div class="img">
    </div>
</body>
</html>

{% endblock %}